<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask SocketIO Test</title>
</head>
<body>
  <center>
    <p>Cześć! Tutaj możesz sobie wylosować karty :)))</p>
    <button onclick="drawACard()">Wylosuj kartę! :)</button>
    <p style="font-size:40px" id="card_holder"> ... </p>
  </center>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    // verify our websocket connection is established
    socket.on('connect', function() {
        console.log('User connected!');
    });

    // message handler for the draw card
    socket.on('new_card', function(msg) {
        console.log(msg);
        document.getElementById("card_holder").textContent=msg.card;
    });

    function drawACard() {
      socket.emit('draw_card')
    }

  </script>
</body>
</html>
